*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #ececec;
}

form{
  max-width: 800px;
  margin: 20px auto;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0, .1);
  padding: 20px;
}

.form-group{
  margin: 10px 0;
}
.form-group input{
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  background: #ececec;
  border: 2px solid transparent;
  outline: none;
  transition: border 0.3s, background-color 0.4s;
}
.form-group input:hover,
.form-group input:focus,{
  border: 2px solid blueviolet;
  background: #fff;
}
.form-group .input-error{
  color: red;
}

.btn{
  padding: 15px;
  margin:  10px 0;
  border: 2px solid transparent;
  background: blueviolet;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 50px rgba(0,0,0,.1);
  transition: all .4s;
}
.btn:hover,
.btn:focus{
  background: #fff;
  color: blueviolet;
  border: 2px solid blueviolet;
}
